@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.badi {
    text-align:center;
    background-image: linear-gradient(to bottom right,rgba(0, 225, 255, 0.514), rgb(0, 255, 157)); 
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    line-height: 20px;
    padding: 5%;
}

h1 {
    color: brown;
}
h2 {
    color: rgb(163, 107, 3);
}

h3 {
    color: rgb(82, 39, 180);
}
ul.nav {
    padding-left: 0px;
    text-align: center;
}
ul.nav > li {
    display: inline-block;
}
/***************** Homepage - Start ****************/
.products-hm {
    padding-left: 0px;
    display: inline-table;
}
/***************** Homepage - End ****************/

/************ Products Page - Start *********/
.products {
    padding-left: 0px;
    display:inline-table;
}

img {
    width: 400px;
}

.price {
    font-style:italic;
    font-weight:bolder;
    color: darkred;
}
/************ Products Page - End ****************/

/*************** About Us - Start **************/
.abp {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
/*************** About Us - End **************/