

.badi {
    text-align:center;
}

ul.nav {
    padding-left: 0px;
    text-align: center;
}
ul.nav > li {
    display: inline-block;
}
/***************** Homepage - Start ****************/
.products-hm {
    padding-left: 0px;
    display: inline-table;
}
/***************** Homepage - End ****************/

/************ Products Page - Start *********/
.products {
    padding-left: 0px;
    display:inline-table;
}

img {
    width: 400px;
}

.price {
    font-style:italic;
    font-weight:bolder;
    color: darkred;
}
/************ Products Page - End ****************/

/*************** About Us - Start **************/
.abp {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
/*************** About Us - End **************/